<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Albums</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/album_small.css">
    <script src="./scripts/mustache/mustache.js "></script>
    <script src="./script/music.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet"></head>
<body>
<main>
    <div id="music-header">
        <h1>My CD Collection</h1>
        <p>
            Collecting CDs has been a hobby of mine for many years.
            Many of these Albums have memories of the past connected to them.
        </p>
        <p>
            I hope to not infringe any copyrights by sharing these albums artworks.
        </p>
        <p id="cd-count"></p>
    </div>

    <div id="album-container-main">
        <ul id="albums-list">
        </ul>
    </div>
</main>
    <script>

    </script>
</body>
</html>
