<div class="album-container">
    <div class="flip-box">
        <div class="flip-box-inner">
            <img src="{{art}}" alt="{{title}} cover">
        </div>
    </div>
    <div class="album-details">
        <h2>{{title}}</h2>
        <p>{{artist}}</p>
        <p>{{year}}</p>
    </div>
</div>
